# autogen grpc source
chunkdemo.grpc.pb*
chunkdemo.pb.*

# emacs temp and backup files
*~
#*#

# python
*.pyc
*__pycache__/
*.pytest*

# cmake
cmake/

# autogen python source
chunkdemo_pb2*

# VSCode settings files
.vscode
