# autogen grpc source
chunkdemo.grpc.pb*
chunkdemo.pb.*

# emacs temp and backup files
*~
#*#

# python
*.pyc
*__pycache__/
*.pytest*
.coverage
coverage.xml

# doc
doc/_build
doc/build_errors.txt
doc/source/examples
doc/source/**/_autosummary


# cmake
cmake/

# autogen python source
chunkdemo_pb2*

# VSCode settings files
.vscode
