Sphinx==8.0.2
jupyter_sphinx==0.5.3
numpydoc==1.8.0
ansys_sphinx_theme==1.0.5
pypandoc==1.13
pytest-sphinx==0.6.3
sphinx-autobuild==2024.4.16
sphinx-autodoc-typehints==2.2.3
sphinx-copybutton==0.5.2
sphinx-gallery==0.17.1
sphinx-notfound-page==1.0.4
sphinxcontrib-websupport==2.0.0
sphinxemoji==0.3.1
pandas==2.2.2
pandoc>=2.1
matplotlib==3.9.2
breathe>=4.33.1
