setuptools>=41.0.0
wheel>=0.33.0
pybind11[global]==2.10.4
demo_eigen_wrapper==0.0.1
Click>=7.0
Flask==2.3.2
numpy>=1.21.5
requests>=2.22.0
protobuf==4.23.2
grpcio==1.55.0
grpcio-tools==1.54.2
pytest==7.3.1
pytest-cov==4.0.0
pytest-grpc==0.8.0
conan>=1.48.0,<2