name: Nightly Documentation Build

on:
  schedule: # UTC at 0300
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  nightly_docs_build:
    runs-on: ubuntu-latest

    services:
      python-rest-server:
        image: ghcr.io/ansys/api-eigen-example/python-rest-server:latest
        ports:
          - 5000:5000
      python-grpc-server:
        image: ghcr.io/ansys/api-eigen-example/python-grpc-server:latest
        ports:
          - 50051:50051

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install project requirements
        run: |
          sudo apt update
          sudo apt install cmake libeigen3-dev doxygen graphviz
          pip install -r requirements/requirements_eigen_wrapper.txt
          pip install src/ansys/eigen/cpp/eigen-wrapper
          pip install -r requirements/requirements_build.txt
          pip install .
          pip install -r requirements/requirements_docs.txt

      - name: Build documentation
        run: |
          make -C doc html

      - name: Upload documentation
        uses: actions/upload-artifact@v4
        with:
          name: HTML-Documentation
          path: doc/_build/html
          retention-days: 7

      - name: Deploy documentation to gh-pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.6.8
        with:
          token: ${{ secrets.github_token }}
          branch: gh-pages
          folder: doc/_build/html
          clean: true
          single-commit: true
